@import url('https://fonts.googleapis.com/css?family=Ovo|Syncopate');

body {
background: rgb(174,243,255);
font-family: 'Ovo', serif;
color: rgb(41,41,41);
text-align: center;
}

#wrapper {
	background: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

header {
	background: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

h1 {
font-weight: bold;
font-size: 48px;
text-transform: uppercase;
font-family:'Syncopate', sans-serif;
}

#two_column {
background-color: #FFB7CF;
border: 1px black solid;
padding: 20px;
}

#slogan {
	font-style: italic;
	font-size: 14px;
}

#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

#paragraph {
	background-color: blue;
	border: 1px black solid;
	padding: 1px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#bottom-bar {
	background: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

#contactme {
	font-weight: bold;
	padding: 10px;
}