body {
background: rgb(174,243,255);
font-style: Arial;
color: rgb(41,41,41);
}

h1 {
font-weight: bold;
font-size: 22px;
}

#slogan {
	font-style: italic;
	font-size: 18px;
}

#contactme{
	font-weight: bold;
}